@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
h1{
  font-size:55px;
}
.button_container
{
  display: flex;
  flex-direction: row;
}

.home_container , .button_container{
  margin:100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#screenrecord, #pip
{
  font-size: 17px;
  letter-spacing: -0.375px;
  line-height: 20px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  word-spacing: 0px;
  background-color: #0077ED;
  background-position: 0% 0%;
  color: #FFFFFF;
  height: 56px;
  width: 360px;
  padding:18px 31px 18px 31px;
  min-width: 28px;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 12px;
  margin:15px
}

#sharebutton, #startbutton , #recordbutton
{
    font-size: 17px;
    letter-spacing: -0.375px;
    line-height: 20px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    word-spacing: 0px;
    white-space: nowrap;
    background-color: #0077ED;
    background-position: 0% 0%;
    color: #FFFFFF;
    height: 56px;
    width: 150.656px;
    padding:18px 31px 18px 31px;
    min-width: 28px;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 12px;
    margin:15px;
    border: none;
}
#stopbutton, #stoprecbutton {
  font-size: 17px;
  letter-spacing: -0.375px;
  line-height: 20px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  word-spacing: 0px;
  white-space: nowrap;
  background-color: #f32d2d;
  background-position: 0% 0%;
  color: #FFFFFF;
  height: 56px;
  width: 150.656px;
  padding: 18px 31px 18px 31px;
  min-width: 28px;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 12px;
  margin: 15px;
  border: none;
}
#screenrecord:hover,
#pip:hover,
#sharebutton:hover,
#startbutton:hover,
#recordbutton:hover,
#stopbutton:hover,
#stoprecbutton:hover{
  filter: brightness(110%);
}

.fas
{
  margin-right: 20px;
}
.Home{
    font-size: 17px;
    letter-spacing: -0.375px;
    line-height: 20px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    word-spacing: 0px;
    white-space: nowrap;
    background-color: #242424;
    background-position: 0% 0%;
    color: #FFFFFF;
    height: 56px;
    width: 150.656px;
    padding: 18px 31px 18px 31px;
    min-width: 28px;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 15px;
    border: none;

}
.Home:hover {
  background-color: #333333;
}
.footer , .instfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  width: 100%;
  background-color: rgb(120, 90, 255);
  color: white;
  text-align: center;
  text-decoration: dashed;
}

.title
{
  margin-top: 50px;
  text-align: center;
  color: rgb(75, 75, 75);
}

.hometitle {
  margin-top: 150px;
  text-align: center;
  color: rgb(75, 75, 75);
}

#message{
  font-size: small;
  display: none;
  text-align: center;
  margin-top: 50%;
  padding:35px;
  color:black;
  border-radius: 12px;
}


@media only screen and (max-width: 740px) {
  #message{
    display: block;
  }

  body
  {
    background-color:rgb(210, 217, 224);
  }
  .hometitle  ,.home_container , .video  , .button_container , .title ,.Home ,.instfooter
  {
    display:none;
  }
}